<div class="banner">
	<img src="imgs/bg.jpg" class="bg">
	<div class="content">
		<img src="imgs/mulan.png" class="movieTitle">
		<h4>
			<span>2020</span>
			<span>
				<i>12+</i>
			</span>
			<span>1h 55min</span>
			<span>Action</span>
		</h4>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos nulla ea laborum vero, atque error dolor quis dolorem quia repudiandae architecto tempora vel illum consequatur? Earum blanditiis iusto at laboriosamLorem ipsum dolor sit, amet consectetur adipisicing elit. Quos nulla ea laborum vero, atque error dolor quis dolorem quia repudiandae architecto tempora
		</p>
		<div class="buttons">
			<a href="#">
				<i class="fa fa-play" aria-hidden="true"></i>
				Play
			</a>
			<a href="#">
				<i class="fa fa-plus" aria-hidden="true"></i>
				Ma Liste
			</a>
		</div>
	</div>
	<a href="#" class="play" onclick="toggleVideo();"><img src="imgs/play.png">Extrait</a>
</div>
