<header>
	<a href="#" class="logo">
		<img src="imgs/oni_samurai.jpg" alt="logo">
		Logo
	</a>

	<ul class="navigation">
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Ma Liste</a>
		</li>
		<li>
			<a href="#">Films</a>
		</li>
		<li>
			<a href="#">Clips</a>
		</li>
	</ul>
	<div class="search">
		<input type="text" placeholder="Search">
		<i class="fa fa-search" aria-hidden="true"></i>
	</div>
</header>
